Hi I understand you requested a RoomService Roombaht password reset

Here is your shiny new password: {{new_pass}}

If you did not request this reset there must be something strange happening in the neighborhood.

Please report any suspicious activity to placement@take3presents.com.

Good Luck, Starfighter.