.componentContainer {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
  width: 80%;
}

.AppHeader {
  background-color: #44454c;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 18pt;
  margin: 10px;
  #width: 1000px;
  height: 120px;
  #width: 50%;

}

.DTApp {
    background-attachment: fixed;
    background-image: url(../../public/party.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.partyList {
    background-color: #44454c66;
    border-radius: 20px;
}

