.AppNav {
  background-color: #44454c;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 18pt;
  margin: 10px;
  height: 60px;

}

.buttonCol {
  width: 100%;
  margin-right: auto;
}

.timerClass {
  color: white;
  font-size: 20pt;
  margin-top: auto;
}

.sevenSegClass {
  color: red;
  text-align: center;
  align: center;
}

